<html>

<head>
    <title>
        Be_Social
    </title>
    <style>
        body {
            margin: 0;
        }
        
        #mainPage {
            height: 90%;
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        #bgimg {
            height: 700px;
            width: 700px;
            background-image: url("/bgm.svg");
            background-size: cover;
            background-position: center;
            border: 1px solid rgb(215, 213, 213);
            border-radius: 5px;
        }
        
        button {
            background-color: #1877F2;
            border-radius: 7px;
            color: #fff;
            height: 50px;
            width: 200px;
            border: 2px solid rgb(229, 226, 226);
            margin: 15px;
        }
        
        a {
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
        
        h3 {
            font-size: 35px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        #top {
            height: 10%;
            width: 100%;
            background-color: black;
        }
        
        #box-Post {
            height: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
            margin-top: 40px;
            align-items: center;
        }
        
        #box-Post div {
            margin: 40px;
        }
        
        #postDatabtn {
            height: 22px;
            width: auto;
            background-color: black;
            color: white;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 5px;
        }
        
        #feed-posts {
            height: 100px;
            width: 253px;
            background-color: rgb(235, 234, 234);
            padding: 10px;
        }
        
        ul {
            list-style-type: none;
        }
        
        #userD {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
        }
        
        #postDesign {
            height: auto;
            width: 500px;
            border: 1px solid rgb(96, 95, 95);
            border-radius: 3px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <!---------------->
        <div id="top">
            <%if(locals.user){%>
                <div>
                    <button>
                        <a href="/users/profile">
                            <%= user.name %>
                        </a>
                    </button>
                </div>
                <%}%>
        </div>
        <!---------------->
        <%if(locals.user === undefined){%>
            <div id="mainPage">
                <div id="bgimg"></div>
                <div id="explore">
                    <h3>
                        Welcome to Be_Social
                    </h3>
                    <button>
                    <a href="/users/signin">Login</a>
                </button>
                </div>
            </div>
            <%}else{%>
                <div id="box-Post">
                    <div id="feed-posts">
                        <form action="/posts/create" id="new-post-form" method="POST">
                            <textarea placeholder="Type Here..." name="content" cols="30" rows="4"></textarea>
                            <input id="postDatabtn" type="submit" value="Post">
                        </form>
                    </div>

                    <ul>
                        <%for(post of post){%>
                            <li>
                                <div id="postDesign">
                                    <div id="userD">
                                        User
                                        <%=post.user.name%>
                                    </div>
                                    <h3>
                                        <%=post.content%>
                                    </h3>
                                    <br>
                                    <h4>
                                        Comments:-
                                    </h4>
                                    <%for(comments of post.comment){%>
                                        <%=comments.comment%>
                                            <%}%>
                                                <form action="/comment/create" method="POST">
                                                    <input name="comment" placeholder="Type Comment..." required>
                                                    <input type="hidden" name="postId" value="<%= post._id %>">
                                                    <input id="postDatabtn" type="submit" value="Add Comment">
                                                </form>
                                </div>
                            </li>
                            <%}%>
                    </ul>
                </div>
                <%}%>
                    <!---------------------------->
    </div>

</body>

</html>